#admin-options {
	margin: 0px;
	padding: 0em 0px 4em 2em;
	float: left;
	width: 90%;
}
#admin-options input.button[class] {
    width: auto;
	}
#admin-options form {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

#admin-options input, #admin-options textarea, #admin-options select {
	color: #333333;
	font-size: 13px;
	font-family: "Lucida Grande", "Trebuchet MS";
}
#admin-options h1 {
	font-size: 22px;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	color: #000000;
	line-height: 29px;
	font-weight: bold;
	font-family: Helvetica, Arial, Tahoma;
	letter-spacing: -1px;
	text-transform: capitalize;
}

#admin-options h2 {
	font-size: 20px;
	margin: 0px;
	width: auto;
	color: #FFFFFF;
	line-height: 26px;
	font-weight: normal;
	background: #2c2b2a url(images/footer.png) repeat-x center top;
	font-family: "Futura Md BT", tahoma, verdana;
	display: block;
	clear: both;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
}
#admin-options h4 {
	font-size: 28px;
	margin: 0px;
	color: #000000;
	line-height: 33px;
	font-weight: normal;
	border-bottom: 2px solid #eee;
	font-family: "Futura Md BT", tahoma, verdana;
	clear: both;
	padding-top: 1em;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	display: block;
	width: 100%;
}

#admin-options p {
	margin: 0px;
	padding: 5px 0px;
	float: left;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
}
#admin-options p a {
	color: #993300;
	text-decoration: underline;
}
#admin-options .note {
	margin: 2em 0px 0px;
	padding: 1%;
	float: left;
	width: 70%;
	background: #E8E9E3;
	border: 1px solid #CBCDBE;
	-moz-border-radius: 10px;
	font-size: 13px;
	line-height: 22px;
}
#admin-options pre {
	margin: 8px 0px;
	padding: 10px;
	clear: both;
	width: 92%;
	overflow: scroll;
	font-family: "Courier New", "MS Sans Serif", sans-serif, serif;
	background: #FFFFFF;
	color: #000000;
	font-size: 13px;
	line-height: 22px;
	white-space: nowrap;
	border: 1px solid #eeeeee;
}

#admin-options #note {
	margin: 2em 0px 0px;
	padding: 1%;
	float: left;
	width: 50%;
	background: #ECFECB;
	border: 1px solid #D9FD95;
	-moz-border-radius: 10px;
}
#admin-options #update-option {
	margin: 2em 0px 0px;
	padding: 1%;
	float: left;
	width: 70%;
	background: #FFCC33!important;
	border: 1px solid #FDBE00;
	-moz-border-radius: 10px;
	font-size: 15px!important;
	font-weight: 400!important;
	color: #000000!important;
	font-family: "Lucida Grande", Verdana, Tahoma, "Trebuchet MS";
}


#admin-options .annouce {
	padding: 1%;
	width: 70%;
	background: #E8F0DB;
	border: 1px solid #BFD39A;
	-moz-border-radius: 10px;
	font-size: 14px;
	line-height: 22px;
	color: #2D3917;
	clear: both;
	margin-top: 2em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
}
#admin-options .annouce p {
	font-size: 12px;
}
#admin-options .annouce .note {
	font-style: italic;
	color: #666666;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 100%;
}
#admin-options .get-option {
	width: 500px;
	border: 1px solid #D5D5D5;
	margin-top: 2em;
	margin-right: 10px;
	margin-bottom: 0em;
	margin-left: 0px;
	display: block;
	background-color: #F7F7F7;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 1em;
	padding-left: 3px;
}
.option-save {
	margin: 0px;
	padding: 2%;
	width: 96%;
}

#admin-options .get-option .description {
	font-size: 16px;
	padding: 0px;
	width: 100%;
	line-height: 18px;
	font-weight: bold;
	color: #333333;
	font-family: "Futura Md BT", tahoma, verdana;
	display: block;
	clear: both;
	letter-spacing: 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
#admin-options .get-option .description em {
	font-size: 12px;
	font-style: normal;
	color: #000000;
	font-weight: normal;
	font-family: Tahoma, verdana;
	letter-spacing: 1px;
	background-color: #FFFF66;
	padding: 3px;
	height: auto;
	width: auto;
	margin: 0px;
}

#admin-options .get-option .myfield {
	padding: 3px 2px;
	width: 80%;
	background: #FFFFFF;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 2px solid #C0C0C0;
	border-left: 1px solid #D6D6D6;
}
#admin-options .get-option p {
	padding: 0px;
	float: left;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2em;
	margin-left: 0px;
}
#admin-options .get-option .mytext {
	padding: 3px 2px;
	width: 85%;
	background: #FFFFFF;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 2px solid #C0C0C0;
	border-left: 1px solid #D6D6D6;
	height: 120px;
}
#admin-options .get-option .myselect {
	padding: 3px 2px;
	width: 50%;
	background: #FFFFFF;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 2px solid #C0C0C0;
	border-left: 1px solid #D6D6D6;
}
#admin-options .get-option ul {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	list-style-type: none;
}
#admin-options .get-option ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 30%;
	list-style-type: none;
	height: 25px;
}
#admin-options .get-option ul li label {
	width: 60%;
	float: left;
}

#admin-options .save-p {
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#admin-options .sbutton {
	margin: 0px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 25px;
	width: 150px;
	overflow: visible;
	-moz-border-radius: 5px;
	background-color: #000000;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	display: block;
}

#admin-options .sbutton:hover {
	margin: 0px;
	font-size: 16px;
	color: #f7f7f7;
	line-height: 25px;
	width: 150px;
	overflow: visible;
	-moz-border-radius: 5px;
	background-color: #333333;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
}

.clearfix {
	clear: both;
}
.redbold {
	color: #CC3300;
	font-weight: bold;
}
#admin-options .get-option .savingbox {
	padding: 0px;
	clear: both;
	height: auto;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
#admin-options .get-option .savingbox p {
	padding: 0px;
	float: left;
	width: auto;
	height: auto;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#admin-options .get-option .savebox {
	display: block;
	width: auto;
	padding: 0px;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;

}
#admin-options .get-option .savebutton {
	margin: 0px;
	padding: 4px;
	font-size: 13px;
	color: #000000;
	width: auto;
	overflow: visible;
	-moz-border-radius: 8px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D5D5D5;
	border-right-color: #D5D5D5;
	border-bottom-color: #D5D5D5;
	border-left-color: #D5D5D5;
	height: auto;
	background-color: #ECE9D8;
	float: left;
	font-family: "Futura Md BT", tahoma, verdana;
}
#admin-options .get-option .savebutton:hover {
	overflow: visible;
	-moz-border-radius: 8px;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
