/* Pages Dropmenu */
#navigation{
	min-width:1200px;
	background: url("../images/fon_menu_1.png") repeat-x;
	line-height:55px;
	position:relative;
	z-index:15;
}

#navigation-scroll{
	width: 100%;
	background: url("../images/fon_menu_1.png") repeat-x;
	line-height:55px;
	position:fixed;
	top: 0;
	z-index:15;
}

#home > a {
    /*background: url("../images/menu-home.png") no-repeat 0 0;*/
    height: 27px;
	position: relative;
  
}

#home:hover > a {
    background-color: transparent!important;
}

#dropmenu{
	list-style-type:none;
	width:100%;
	font-size: 15px;
	font-weight: 700;
}

#dropmenu > li{
	display:inline-block;
	margin:0 17px;
}

/*#dropmenu > li:after{
	content:">";
	color:#fff;
}

#dropmenu > li:last-child:after{
	content:"";
	color:#fff;
}*/
#dropmenu > li > a{margin-right:15px;}
#dropmenu > li:last-child > a{margin-right:0;}

#dropmenu a {
	display:inline-block;
	padding:0px 15px;
	text-decoration:none;
	color:#fff;
	
	-webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    transition-duration: 250ms;
}

#dropmenu > li:hover > a{
	/*background-color:#ffe25a;*/
	color:#fff;
	text-decoration:underline;
}

#dropmenu > li > ul{display:none;}
#dropmenu > li:hover > ul{display:block;}
#dropmenu ul{
	position:absolute;
	z-index:40;
	background: url("../images/fon_menu_1.png") repeat;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	margin-left:-1px;
}

#dropmenu ul li{
	display:block;
}

#dropmenu ul li:hover{
	/*background-color:rgba(30,87,163,0.7);*/
	text-decoration:underline;
}

#dropmenu ul a{
	display:block;
	color:#fff;
}

#dropmenu ul li:hover a{
	color:#fff;
	text-decoration:underline;
}
