/* CSS Document */

#Gallerybox {
	height: 300px;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
#Gallerybox img {
	border-width: 0px;

}
#myGallery, #myGallerySet, #flickrGallery
{
	z-index:5;
	width: 100%;
	height: 300px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}


#myGallery img.thumbnail, #myGallerySet img.thumbnail
{
	display: none;
}

.jdGallery
{
	overflow: hidden;
	position: relative;
}

.jdGallery img
{
	border: 0;

}

.jdGallery .slideElement
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
}

.jdGallery .loadingElement
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
}

.jdGallery .slideInfoZone
{
	position: absolute;
	z-index: 10;
	width: auto;
	margin: 0px;
	left: 0;
	bottom: 0;
	color: #FFFFFF;
	text-indent: 0;
	overflow: hidden;
	height: 50px;
	background-color: #000000;
	padding: 10px;
}

.jdGallery .slideInfoZone a
{
	color: #FFFFFF;
}

* html .jdGallery .slideInfoZone
{
	bottom: -1px;
}

.jdGallery .slideInfoZone h3
{
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	width: auto;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	clear: both;
	height: auto;
	margin: 0px;
	text-shadow: 0px 1px 1px #000;
	padding: 0px;
}
.jdGallery .slideInfoZone p
{
	font-size: 12px;
	color: #FFFFFF;
	width: auto;
	clear: both;
	height: auto;
	display: block;
	line-height: 18px;
	margin: 0px;
	text-shadow: 0px 1px 1px #000;
	padding: 0px;
}
.jdGallery .slideInfoZone a
{
	text-decoration: none;
	font-weight: bold;
	color: #5ad5f6;

}
.jdGallery .slideInfoZone a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}

.jdGallery a.open
{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.withArrows a.open
{
	position: absolute;
	top: 0;
	left: 25%;
	height: 99%;
	width: 50%;
	cursor: pointer;
	z-index: 10;
	background: none;
}

.withArrows a.open:hover {}
