ul.sidebar_list #searchbox #searchform #s, ul.sidebar_list .widget_search #searchform #s {
	width: 95%;

}
ul.sidebar_list #searchbox #searchform #searchsubmit, ul.sidebar_list .widget_search #searchform #searchsubmit {}
ul.sidebar_list .widget_archive {
	padding-bottom: 10px;
}
#sidebar2 {
	width: 19.8%;	
}