#sidebar_right {
	float:right;
	width:400px;
}
#sidebar_right .entry{display:block;}
.sidebar_right_post{
	position:relative;
	font-size:14px;
	margin-bottom:45px;
}

.sidebar_right_post .show_all{
	position:absolute;
	right:0px;
	bottom:0px;
	color:#c52626;
}
.sidebar_right_post .show_all:hover {
	text-decoration:none;
}
#sidebar_right .entry a img {
	float: none;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
}
#sidebar_right .entry a img:hover {
	-moz-transform: scale(0.97,0.97);
	-webkit-transform: scale(0.97,0.97);
	-o-transform: scale(0.97,0.97);
	-ms-transform: scale(0.97,0.97);
	transform: scale(0.97,0.97);
}

#sidebar_right .entry{margin-bottom:0;}
#last_video iframe{
	width:400px !important;
	height:195px;
}

.small_post iframe{
	float:left;
	margin-right:10px;
	width:200px !important;
	height:130px;
}

.small_post > p,.last_video > p{display:none;}
.small_post > p:first-child,.last_video > p:first-child{display:block;}

.small_post a{
	text-decoration:none;
	color:#000;
}

.small_post a:hover{
	color:#c52626 !important;
}

#sidebar_right .post-meta img{margin-right:10px;}
#sidebar_right .post-meta:first-child img{margin:0}
#sidebar_right .post-meta:first-child .post-info{position:relative;}
#sidebar_right .post-info a{
	color:#000;
	text-decoration:none;
}
#sidebar_right .post-meta .post-info .text:hover{
	color:#c52626;
}

#sidebar_right .post-meta:first-child .post-info .text{
	position:absolute;
	top:15px;
	left:10px;
	width:200px;
	padding:5px 8px;
	background:rgba(0,0,0,0.35);
	color:#fff;
	font-size: 19px;
    font-family: arial;
}
#sidebar_foto .post-meta {
    margin-bottom: 20px;
}
#sidebar_foto{position:relative;}
#sidebar_foto > a {
	display:block;
	position:absolute;
	width:100%;
	left:0;
}
#first_side {
	height:198px;
	top:96px;
}

#second_side{
	bottom:0;
	height:80px;
}
