/* Theme Name: Володимир Хоменко */
html, body{
	margin:0;
	padding:0;
	min-width:1200px;
	min-height:100vh;
	font-family: "MS Serif";
	font-size:14px;
}

h1,h2,h3,h4,h5,h6,
li,ul,ol, p{
	margin:0;
	padding:0;
	font-size:1em;
}

#wrapper, #container{
	min-height:100vh;
}

.clearfix{clear:both;}
.clearleft{clear:left;}
#container{
	padding-bottom:100px;
	box-sizing:border-box;
}
.innerwrap, #main{
	width:1200px;
	margin:0 auto;
}

.more-link{
	color:#000;
	text-decoration:none;
}
.more-link:hover{
	color:#983;
	text-decoration:underline;
}
.video-items {
	width: 45%;
	display: inline-block;
}
.video-items iframe {
	width: 300px!important;
	height: 300px!important;
}
.left{float:left;}
.right{float:right;}
.aligncenter{display:block;margin:0 auto;}
/* === Стилі для заголовків на сторінках === */
.title{text-align:center;}
.title h1{
	font-size:2em;
	line-height:1.5em;
}
/* === КІНЕЦЬ стилів для зоголовків на сторінках === */
/* --- Стилі для шапкі сайта --- */
#header{
	position:relative;
	text-transform:uppercase;
	min-width:1200px;

	background: #fff; 
	/*background: -moz-linear-gradient(top,  #1e5799 0%, #1e3666 0%, #4a5f96 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#1e3666), color-stop(100%,#4a5f96)); 
	background: -webkit-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	background: -o-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	background: -ms-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	background: linear-gradient(to bottom,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4a5f96',GradientType=0 ); */
}
.name-homeee {
	width: 302px;
    top: 12px !important;
    left: 20px;
    height: 127px;
    display: block;
    position: absolute;
    background: url(images/rodina.png) no-repeat;
}

#siteinfo{
	color:#000;
	height: 150px;
}

#siteinfo .innerwrap{
	position:relative;
}

#block_head_flag{
	background: url("images/vishivanka_head.png");
	position: absolute;
	right:0;
    top: 41px;
    height: 66px;
    width: 780px;
    overflow: hidden;
    text-align: center;
}

#head_flag{
	position:absolute;
	right:45px;
	top:0;
}

#head_foto{
	position:absolute;
	top:0;
	left:5px;
	z-index:7;
}

#site-title > span{
	position: absolute;
	top: 120px;
	right: 125px;
	text-transform: none;
	font-family: arial;
}

#site-title a, #site-title .name-hom {
	top: 0px;
	right: 0px;
	color:#ffe25a;
	text-decoration:none;
	line-height:200px;
	font-size:35px;
	position:relative;
	z-index:5;
}

#site-desc{
	line-height:55px;
	margin-bottom:-5px;
	position:relative;
	z-index:5;
}
/* --- Банера на головній сторінці --- */
#baner{
	margin-top:15px;
	margin-bottom:36px;
    clear: both;
	margin-left:10px;
}

#baner a{
	display:inline-block;
	position:relative;
}

#baner div a:first-child{
	margin-right:10px;
}
/*#baner div a:last-child{
	float:right;
}*/
div#zclip-ZeroClipboardMovie_1 {
    margin-top: 32px;
}
.pluso2 a {
	background: url(images/04.png) no-repeat;
	display: block;
    width: 40px;
    height: 40px;
    float: left;
}
.pluso2 {
	padding: 5px 0 0 22px;
    height: 50px;
}
.information_class {
	padding: 10px;
    text-align: center;
    position: fixed;
    min-height: 20px;
    min-width: 200px;
    background: #fff;
    color: black;
    box-shadow: 0 0 10px black;
	display:none;
	right:30px;
	top:70px
}
.page_item  a{
text-decoration:underline !important;
}
#baner a p{
	/*position:absolute;
	left:15px;
	top:121px;
	color: #fff;*/
	font-size:17px;
	text-transform:uppercase;
}

#baner div a:first-child p{
/*	width:372px;
	
	padding:11px 17px 10px 11px;
	background:rgba(0,0,0,0.5);*/
	color:#fff;
}

#baner a:last-child p{
	/*width:300px;
	padding:11px 11px 12px 10px;
	background:rgba(0,0,0,0.5);*/
}
/* --- Список останіх новини (КАРУСTЛЬ) --- */
#last_news{
	min-width:1200px;
	position:relative;
	z-index:10;
	background:#fff;
	font-size:17px;
	line-height:30px;
	padding-top:10px;
	padding-bottom:5px;
}

.carousel-wrapper{
	overflow: hidden;
	position:relative;
}
.carousel-items{
	width: 10000px;
	position: relative;
}
.carousel-block{
	float: left;
	padding-right:20px;
}
.carousel-block a{
	color:#000;
	text-decoration:none;
}
.carousel-block a:hover{
	color:#c52626;
	text-decoration:underline;
}
.carousel-text{
	position: relative;
	float: left;
	font-weight:700;
}

.carousel{position:relative;}
#trans{
	position:absolute;
	top:0px;
	left:-9999px;
	width:40px;
	height:100%;
}
#trans:hover{cursor:pointer;}
#trans.act{left:160px;}
 
 #last_div {
	margin: 0 auto;
    width: 1180px;
    height: 45px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px 0 5px 0;
    font-size: 17px;
    line-height: 30px;
	}
/*********** BUTTONS ***********/
.carousel-button-left span:hover, .carousel-button-right span:hover{color:#d71a21;}
.carousel-button-left span, .carousel-button-right span{
	position: relative;
	display:block;
	cursor: pointer;
	text-decoration:none;
	font-size:20px;
	float: left;
	color:#000;
}
.carousel-button-left span{
	margin-left:10px;
	margin-right: 1px;
    font-size: 30px;
    font-weight: bolder;
    font-family: monospace;}
.carousel-button-right span{
	margin-right:10px;
	margin-left: 1px;
    font-size: 30px;
    font-weight: bolder;
    font-family: monospace;
}
/* --- Стилі для новини --- */
#content{
	float:left;
	width:706px;
	font-size:14px;
	position:relative;
	left:10px;
}

.entry{
	position:relative;
	margin-bottom:5px;
	
}


.entry .image{
	float: left;
    
    min-height: 150px;
    overflow: hidden;
    text-align: center;
    margin-right: 5px;
    vertical-align: middle;
}

.entry .image img{
	float: none;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
}

.entry .image img:hover{
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
#baner a img, #baner .post-date {
	float: none;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
}
#baner a img:hover {
	-moz-transform: scale(0.97,0.97);
	-webkit-transform: scale(0.97,0.97);
	-o-transform: scale(0.97,0.97);
	-ms-transform: scale(0.97,0.97);
	transform: scale(0.97,0.97);
}

.title_last_post{
	display:block;
	position:relative;
	border-bottom:7px solid #d71a21;
	margin-bottom:35px;
}

.title_last_post a, .post-meta h2 a{
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
}

.title_last_post a{
	display: inline-block;
    padding: 20px 25px 13px;
    min-width: 130px;
    box-sizing: border-box;
    text-align: center;
    background: #d71a21;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.title_last_post a:hover{
	/* text-decoration:underline; 
	color:#ffe25a;
	background: #1e5799;*/
	color: #fff;
    text-decoration: underline;
}

.gallery .post-meta{display:block;}
.post-meta{margin:10px 0px;/*display:list-item;*/}
.post-meta h2 {
	margin-bottom:9px;
}

.post-meta h2 a{
	color:#000;
	font-size:20px;
	text-decoration:none;
	text-transform:uppercase;
}
.post-meta h2 a:hover{color:#d71a21;}
.post-meta h2 a:active{text-shadow:1px 1px 0px #000;}

.post-meta img{
	float:left;
	margin-right:38px;
}

.post-date{
	margin-bottom:10px;
}

.post-date span{
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:0 50%;
	line-height:20px;
	color:#243b6c;
	margin-right:25px;
}


.post-meta .post_content{overflow:hidden;}
.post-date span:last-child{margin-right:0;}
.post-date .time{background-image:url('images/time.png');}
.post-date .day{background-image:url('images/day_2.png');
    background-repeat: no-repeat;}
.post-date .day2{background-image:url('images/day.png');
    background-repeat: no-repeat;}
.post-date .look{background-image:url('images/look.png');}
.post_content{text-align:justify;}
.post_content p{line-height:1.2em;}
.post_content li{line-height:1.2em;}
.post_content ul,.post_content ol{
	padding-left:30px;
	margin:5px 0;
}

#footer2 .razrabu {
	color: #000;
	float:left;
    line-height: 60px;
}
.button_post{
	display: block;
    float: left;
    padding: 8px;
    font-size: 16px;
    color: #000 !important;
    text-decoration: underline;
	/*
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;*/
}
.button_post:hover{
	/*background: #1e5799;*/
	text-decoration:none;
}
/* --- Стилі для підписок --- */
#subscribe {
	height: 67px;
    width: 100%;
    background: #d71a21;
    margin-bottom: 30px;
    margin-top: -10px;
    font-size: 18px;
    padding: 10px;
    background-size: cover;
    border: 2px solid #000;
}

.sidebar_list li{display:block;}
#subscribe .s2_error, #subscribe h6 {display:none;}
#subscribe form{
	position:relative;
	text-align:center;
}

#subscribe form p{
	display: inline-block;
	width: 100%
}

#subscribe form p:last-child{
	text-align: center;
    margin: 15px 0px;
}

#subscribe input{
	padding: 3px 0;
    font-size: 14px;
    margin-top: 10px;
    width: 80%;
}

form p input[name="unsubscribe"]{display:none !important;}
#subscribe input[type="submit"]{
	width: 110px;
    background: #d71a21;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #d71a21;
    color: #fff;
}
#subscribe input[type="submit"]:hover{
	text-decoration:none;
	 color:  #d71a21;
	 background: #fff;
}

#subscribe input[type="submit"]:hover{cursor:pointer;}
.ui-widget-content {
color: #000 !important;
}
body .ui-widget-content {
	background-image:none;
	background:#fff;
	border:4px solid #d71a21;
	/*background: #1e5799; 
	background: -moz-linear-gradient(top,  #1e5799 0%, #1e3666 0%, #4a5f96 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#1e3666), color-stop(100%,#4a5f96)); 
	background: -webkit-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	background: -o-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	background: -ms-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	background: linear-gradient(to bottom,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4a5f96',GradientType=0 ); */
}

body .ui-widget-header{
	background-image:none;
	background:transparent;
	color:#000;
	border:none;
	text-align:center;
}

.ui-button.ui-widget.ui-state-default{border:1px solid transparent;background:url('images/close.png') 50% 50% no-repeat transparent;}
.ui-button-icon-primary.ui-icon.ui-icon-closethick{background:none;}
body .ui-widget-content p:last-child{text-align:center;}
body .ui-widget-content input{margin:5px 0;}
body .ui-widget-content input[type="text"]{width:100%;}
body .ui-widget-content input[name="subscribe"]{
	background: #d71a21;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #d71a21;
    color: #fff;
}
body .ui-widget-content input[name="subscribe"]:hover{
	background: #fff;
	color:  #d71a21;
}
.s2_error{color:#f00;}
/* --- Футер сайта --- */

.all_publication {
	color:#d71a21;
}
.all_publication:hover {
	text-decoration:none;
}
#footer{
	/*margin-top:-100px;
	height:100px;*/
    width: 1200px;
    background: #fff;
    margin: 0 auto;
	text-align:center;
	
}

#footer2{
	padding:10px;
	color:#fff;
	font-size:16px;
}
#footer3 {
	display: block;
}
#footer3 a{
	margin: 0 15px;
}
p.s2_message {
    text-align: center;
    padding: 7px;
}
#facebook {
	display: inline-block;
	width: 57px;
	height: 58px;
	background: url('images/facebook.png');
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
#twitter {
	display: inline-block;
	width: 57px;
	height: 58px;
	background: url('images/twitter.png');
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
#youtube {
	display: inline-block;
	width: 57px;
	height: 58px;
	background: url('images/youtube.png');
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
/* --- Сторінка Біографій --- */
.biography .page-content{
	font-size:14px;
	line-height:1.5em;
}
/* --- Стилі для хлібнихкрихт --- */
#breadcrumbs{
	margin:10px 0 10px 10px;
}

#breadcrumbs a{
	color:#000;
	text-decoration:none;
	font-weight:700;
}

#breadcrumbs a:hover{
	text-decoration:underline;
	color:#1e5799;
}
/* --- Стилі для пагінацій --- */
.nomer_page{text-align:center;margin-bottom:20px;}
.nomer_page a{
	display: inline-block;
    line-height: 30px;
    width: 30px;
    margin: 0px 10px;
    background: #d71a21;
    border-radius: 31px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
}

.nomer_page a.select{
	border: 1px solid #d71a21;
    background: #fff;
    color: #000;
}
.nomer_page a:hover{color:#000; background:#fff;border: 1px solid #d71a21;}
.nomer_page a.select:hover{color:#fff; background:#d71a21;}
/* --- Стилі новин --- */
.single .entry{margin-bottom:10px;}
.single .post_content{margin-bottom:20px;}
.single .post_content p {
	line-height:1.5em;
}

.single div.image img{
	float:left;
	margin: 0px 38px 10px 0px;
}

#single_paginate{text-align:center;margin-bottom:20px;}
.single .post-date{text-align:right;}
.sing_post{
	display:inline-block;
	vertical-align:top;
	margin-right:33px;
	width:213px;
}

.sing_post a{text-decoration:none;color:#000;}
.sing_post:last-child{margin-right:0;}
.sing_post .title_sing_post{text-align:center;font-size:20px;}
.sing_post .title_sing_post a:hover{
	text-decoration:underline;
	color:#1e5799;
}

.single div.sing_post .image{overflow:hidden;}
.single div.sing_post img{
	margin: 0 auto;
	max-width: 215px;
	width: auto;
	height: 125px;
	float:none;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
	
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
}

.single div.sing_post img:hover{
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
/* --- Стилі для галерей --- */
.gallery .post-meta{margin-bottom:30px;}
.gallery .image{
	float:left;
	width:284px;
	height:190px;
	overflow:hidden;
	text-align:center;
	margin-right:40px;
	vertical-align:middle;
}

.gallery img{
	margin:0;
	height:100%;
	width:100%;
}

.gallery .post-meta h2{padding-top:10px;}
.gallery .post-meta .show_all{
	display:block;
	margin-top:100px;
	color:#c52626;
	font-size:22px;
	text-decoration:none;
}

.gallery .post-meta .show_all:hover{
	text-decoration:underline;
	color:#1e5799;
}
/* --- Стилі для відображення альбомів --- */
.albums_pic {width: 100%;}
.album_pic_wrapper{
	width:100%;
	height:140px;
	display:inline-block;
	overflow:hidden;
}

.album_wrapper{
	width:30%;
	margin:10px;
	display:inline-block;
	text-decoration:none;
}

.album_wrapper .albums_pic{
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
	
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
}

.album_wrapper:hover .albums_pic{
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

.tax_name{
	color:#000;
	margin-top:10px;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
}

.album_wrapper:hover .tax_name{
	color:#1e5799;
	text-decoration:underline;
}

#pic_wrapper {
    display: inline-block;
    margin: 10px;
    width: 45%;
    height: 200px;
	overflow: hidden;
}
#pic_wrapper img {
    width: 100%;
}
.gallery .content2 > a{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:30;
}

.gallery .content2:last-child{
	margin-left:10%;
}

.gallery .title_last_post {
	border:none;
	text-align:center;
	margin:0;
}

.gallery .title_last_post a{
	background:transparent;
	font-weight:700;
}

.gallery .content2:hover{background:rgba(255,227,90,0.75);}
.gallery .content2:hover .title_last_post a{color:#1e5799;text-decoration:underline;}

.gallery .entry iframe{
	margin:0 auto;
	display:block;
}

.gallery .entry img{
	float:none;
	margin:0 auto;
	display:block;
}

.gallery .entry .text{
	display:none;
}
/* ---  Стилі для списків відео ---*/
.block_elem_video{
	display: inline-block!important;
	width: 30%!important;
	margin:10px;
	text-align:center;
	vertical-align:top;
	overflow:hidden;
}

.block_elem_video img{
	width:100%;
	height:140px;
	
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-duration: 500ms;
	
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
}

.block_elem_video .image a{
	display:block;
	height:140px;
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
}

.block_elem_video a:hover img{
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

.block_elem_video a{
	color:#000;
	text-decoration:none;
}

.block_elem_video h2{
	height:2.4em;
	font-size:1em;
	line-height:1.2em;
	overflow:hidden;
}

.block_elem_video a:hover{
	color:#1e5799;
}

.video_gallery .nomer_page{margin-top:40px;}
/*------------------------------------------------------------*/
.contact{
	text-align:center;
}

#contact_form{
	display:inline-block;
	text-align:left;
	width:60%;
}

#contact_form p{
	position:relative;
	margin:15px 0;
	line-height:1.5em;
}

#contact_form p>em{
	display:inline-block;
	border:1px solid #999;
	border-bottom:none;
	padding:3px 7px;
	background:rgba(255,227,90,0.1);
	font-style: normal;
}

#contact_form input, #contact_form textarea{
	width:100%;
	padding: 5px;
}

.wpcf7-textarea{resize:none;}
#contact_form input[type="submit"]{
	position: relative;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: auto;
    padding: 10px 20px 8px 20px;
    border-width: 3px;
    background-color: #d71a21;
    cursor: pointer;
    box-sizing: initial;
    border:1px solid #d71a21;
	/*border-style:inset;
	border-top-color:#253c6e;
	border-bottom-color:#4762a1;
	border-left-color:#364e87;
	border-right-color:#344d85;
	cursor: pointer;
	
	background: #1e5799; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #1e5799 0%, #1e3666 0%, #4a5f96 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#1e3666), color-stop(100%,#4a5f96)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4a5f96',GradientType=0 ); /* IE6-9 */
}
#contact_form input[type="submit"]:hover{
	border:1px solid #d71a21;
	background:#fff;
	color:#d71a21;
}
#contact_form input:focus, #contact_form textarea:focus,#contact_form input[type="submit"]:focus{outline:none;}
#contact_form input[type="submit"]:active{border-style:outset;top:-1px;}
#contact_form input:focus, #contact_form textarea:focus{/* background:rgba(30,87,153,0.35);  outline: 1px solid rgba(30,87,153,0.35);*/ }
#contact_form .wpcf7-not-valid{ border: 1px solid rgba(255,0,0,0.35); }
#contact_form .wpcf7-not-valid-tip{/* position:absolute;top:1.25em;font-size:0.8em; */}
#contact_form input[type="submit"]:focus{
	background: red; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #1e5799 0%, #1e3666 0%, #4a5f96 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#1e3666), color-stop(100%,#4a5f96)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #1e5799 0%,#1e3666 0%,#4a5f96 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4a5f96',GradientType=0 ); /* IE6-9 */
}
/*Costul*/
.single.video .image{display:none;}
.single.video iframe{
	width:100%;
}

.single.foto img{
	float:none;
	width:100%;
	height:auto;
}
.single.foto .post-date{
	text-align:center;
}
/**/
.doc a:hover{
	text-decoration:underline;
}
.doc a {
	display:block;
	padding:5px 7px 5px 40px;
	background:url('images/download.png') 4px 4px no-repeat rgba(255,227,90,0.35);
	text-align:right;
	color:#000;
	text-decoration:none;
	min-height:32px;
}
a.document{
	display:block;
	padding:5px 7px 5px 40px;
	background:url('images/download.png') 4px 4px no-repeat rgba(255,227,90,0.35);
	text-align:right;
	color:#000;
	text-decoration:none;
	min-height:32px;
	margin: 20px 0 0 30px;
	width: 94%;
}
/*************************************************ПАГІНАЦІЯ***********************************************/
.pagination {
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
}
 
.pagination span, .pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
}
 
.pagination a:hover{
	color:#fff;
	background: #3279BB;
}
 
.pagination .current{
	padding:6px 9px 5px 9px;
	background: #3279BB;
	color:#fff;
}
#fancy_overlay {
	opacity: 0.8!important;
}
/*------------------------------------------------------------*/
.bxslider-block img{
	margin:0 auto;
}

.bxslider li{width:706px;height:350px;}
.bxslider img{width:auto;height:350px;}

#bx-pager a.min{
	display:inline-block;
	height:150px;
	overflow:hidden;
}

#bx-pager a.min img{
	height:150px;
	width:auto;
	margin:0 auto;
}

.bx-pager{display:none !important;}
.big_s .bx-wrapper .bx-next,.big_s .bx-wrapper .bx-prev{display:none;}
.small_s .bx-wrapper .bx-next{right:-40px;}
.small_s .bx-wrapper .bx-prev{left:-40px;}
/*------------------------------------------------------------*/
#post-0 .entry{text-align:canter}
#post-0 img{height:auto;width:400px;}
#post-1 img{
	width:120px;
	height:auto;
	float: left !important;
}

.innerwrap.carousel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 20px;
}
.post-date.first {
    position: absolute;
    left: 15px;
    top: 121px;
    width: 372px;
    padding: 11px 17px 10px 11px;
    background: rgba(0,0,0,0.5);
    color: #fff;
   
}
.post-date.last {
    position: absolute;
    left: 15px;
    top: 121px;
    width: 372px;
    padding: 11px 17px 10px 11px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-indent: 0px;
}
.first span {
    color: white;
    font-family: "MS Serif";


}
#last_div .bxslider2 li a {
    text-decoration: none;
    color: black;
}
#last_div .bxslider2 li a:hover {
	
	color:#d71a21;
}
#contentinner div.title {
	text-transform:uppercase;
	   color: #d71a21;
    margin-bottom: 25px;
}
.cots_seti a {
	position: relative;
}
span.carousel-text a {
    color: #000;
    text-decoration: none;
}
span.carousel-text a:hover {
	color: #d71a21;
}
#breadcrumbs a:hover {
color: #d71a21 !important;
}
#subscribe {
	display: none;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 300px;
    z-index: 999;
    border-radius: 10px;
    width: 300px;
    height: auto;
    border: 4px solid #d71a21;
    background-color: #fff;
}
.otpravka_mailov {
	display: block;
    width: 196px;
    cursor: pointer;
}
.fon_mail {
	display:none;
	z-index: 998;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}
.close_button {
	border: 1px solid transparent;
    background: url('images/close.png') 50% 50% no-repeat transparent;
	right: 10px;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 9999;
}
#s2email {
	padding:3px;
}
body .ui-widget-content {
	position:fixed ;
}
